{% extends 'layouts/blog.html.twig' %}

{% block blog_header %}
    <section id="hero">
        <twig:block-hero
            size="small"
            background="{{ base_path }}/img/content/blog/default-cover.png"
            title="{{ blog.title | default('Insights & Updates') }}"
            subtitle="{{ blog.subtitle | default('Thoughts, stories, and the latest from our world.') }}"
            align="left"
        />
    </section>
{% endblock %}

{% block blog_content %}
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('blog') }}">
                    <i class="fa-solid fa-blog fa-fw"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Month: {{ month.name }}
            </li>
        </ol>
    </nav>
    {% for post in posts %}
        <div class="mb-5">
            <twig:block-card
                image="{{ post.image | default(base_path ~ '/img/content/blog/default-cover.png') }}"
                title="{{ post.title }}"
                content="<div class='text-muted small mb-2'>Por {{ post.authors | join(', ') }} el {{ post.date | date('d/m/Y') }} • {{ post.time }} min de lectura</div>{{ post.description | markdown }}"
                buttonText="Leer más"
                buttonUrl="{{ path('blog_post', {'post': post.uri}) }}"
            />
        </div>
    {% endfor %}
{% endblock %}
