{% extends 'layouts/blog.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block blog_header %}
    <section id="hero">
        <twig:block-hero
            background="{{ post.image | default(base_path ~ '/img/blog/default-cover.png') }}"
            contentBackground="true"
            title="{{ post.title }}"
            subtitle="{{ post.subtitle }}"
            align="center"
        />
    </section>
{% endblock %}

{% block blog_content %}
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ base_path }}/blog">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
        </ol>
    </nav>

    <twig:block-quote
        quote="{{ post.summary }}"
        author="{{ post.author.name | default('Anonymous') }}"
        source="{{ post.published | date('d/m/Y') }}"
    />

    {{ post.data | markdown }}

    {% if post.tags %}
        <hr class="my-5">
        <div class="row text-muted small">
            <div class="col-md-6">
                Última actualización: {{ post.modified | date('d/m/Y') }}
            </div>
            <div class="col-md-6 text-end">
                {{ post.tags | map(tag => '#' ~ tag.slug) | join(', ') }}
            </div>
        </div>
    {% endif %}
{% endblock %}
