{% extends 'layouts/blog.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block blog_header %}
    <section id="hero">
        <twig:block-hero
            size="small"
            background="{{ post.image | default(base_path ~ '/img/content/blog/default-cover.png') }}"
            title=""
        />
    </section>
{% endblock %}

{% block blog_sidebar %}
    {% if not post.hide_table_of_contents %}
        <div class="ps-3 py-4 border-start small mb-4">
            <div class="fw-bold mb-3">On this page</div>
            <div id="toc-navbar" class="d-flex flex-column gap-2" data-toc-min-heading-level="{{ post.toc_min_heading_level }}" data-toc-max-heading-level="{{ post.toc_max_heading_level }}"></div>
        </div>
    {% endif %}
{% endblock %}

{% block blog_content %}
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('blog') }}">
                    <i class="fa-solid fa-blog fa-fw"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ post.title }}
            </li>
        </ol>
    </nav>

    <div class="derafu-content derafu-content-blog">

        {% if post.subtitle %}
            <h1>{{ post.subtitle }}</h1>
        {% endif %}

        <twig:block-quote
            content="{{ post.description }}"
            author="{{ post.authors | join(', ') }}"
            note="{{ post.date | date('d/m/Y') }}"
        />

        {% if post.deprecated %}
            <div class="alert alert-warning">
                <i class="fa-solid fa-triangle-exclamation fa-fw"></i>
                This post is deprecated since {{ post.deprecated | date('d/m/Y') }}. It's not recommended to use this content anymore.
            </div>
        {% endif %}

        {% if post.data %}
            <div data-bs-spy="scroll" data-bs-target="#toc-navbar" id="toc-content">
                {{ post.data | markdown(has_twig: post.has_twig) }}
            </div>
        {% endif %}

        {% if post.video %}
            <div class="plyr__video-embed ratio ratio-16x9" id="player">
                <iframe
                    src="{{ post.video }}"
                    allowfullscreen
                    allowtransparency
                    allow="autoplay"
                ></iframe>
            </div>
        {% endif %}

    </div>

    <hr class="mt-5 mb-1">
    <div class="row text-muted small mb-5">
        <div class="col-md-6 small">
            {{ post.tags | map(tag => '#' ~ tag.slug) | join(', ') }}
        </div>
        <div class="col-md-6 small fst-italic text-end">
            {% if plugin.options.showLastUpdateTime %}
                Last updated on {{ post.last_update | date('d/m/Y') }}
            {% endif %}
            {% if plugin.options.showLastUpdateAuthor %}
                by {{ post.authors | join(', ') }}
            {% endif %}
        </div>
    </div>

    {% if previous or next %}
        <div class="row my-5">
            <div class="col-md-6">
                {% if previous %}
                    <a href="{{ path('blog_post', {'post': previous.uri}) }}" class="btn btn-outline-secondary w-100 text-start d-flex flex-column justify-content-center p-2">
                        <div class="small">
                            <i class="fa-solid fa-chevron-left fa-fw"></i>
                            Previous
                        </div>
                        <div class="text-truncate">{{ previous.pagination_label }}</div>
                    </a>
                {% endif %}
            </div>
            <div class="col-md-6 text-end">
                {% if next %}
                    <a href="{{ path('blog_post', {'post': next.uri}) }}" class="btn btn-outline-secondary w-100 text-end d-flex flex-column justify-content-center p-2">
                        <div class="small">
                            Next
                            <i class="fa-solid fa-chevron-right fa-fw"></i>
                        </div>
                        <div class="text-truncate">{{ next.pagination_label }}</div>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block custom_head %}
    {{ parent() }}
    {{ post.htmlTags().headTagsToHtml() | raw }}
{% endblock %}

{% block custom_body_top %}
    {{ parent() }}
    {{ post.htmlTags().preBodyTagsToHtml() | raw }}
{% endblock %}

{% block custom_body_bottom %}
    {{ parent() }}
    {{ post.htmlTags().postBodyTagsToHtml() | raw }}
{% endblock %}
