{% extends 'layouts/blog.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block blog_header %}
    <section id="hero">
        <twig:block-hero
            size="small"
            background="{{ post.image | default(base_path ~ '/img/content/blog/default-cover.png') }}"
            title=""
        />
    </section>
{% endblock %}

{% block blog_content %}
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('blog') }}">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
        </ol>
    </nav>

    {% if post.subtitle %}
        <h1>{{ post.subtitle }}</h1>
    {% endif %}

    <twig:block-quote
        quote="{{ post.summary }}"
        author="{{ post.author.name | default('Anonymous') }}"
        source="{{ post.published | date('d/m/Y') }}"
    />

    {% if post.data %}
        {{ post.data | markdown }}
    {% endif %}

    {% if post.video %}
        <div class="plyr__video-embed ratio ratio-16x9" id="player">
            <iframe
                src="{{ post.video }}"
                allowfullscreen
                allowtransparency
                allow="autoplay"
            ></iframe>
        </div>
    {% endif %}

    <hr class="my-5">
    <div class="row text-muted small">
        <div class="col-md-6">
            Última actualización: {{ post.modified | date('d/m/Y') }}
        </div>
        <div class="col-md-6 text-end">
            {{ post.tags | map(tag => '#' ~ tag.slug) | join(', ') }}
        </div>
    </div>
{% endblock %}
