{% extends 'layouts/academy.html.twig' %}
{% import 'academy/_nav_item.html.twig' as nav %}

{% block title %}{{ course.title }}{% endblock %}

{% block academy_header %}
    <section id="hero">
        <twig:block-hero
            size="small"
            background="{{ course.image }}"
            title="{{ course.title }}"
            subtitle="{{ course.summary }}"
            align="left"
        />
    </section>
{% endblock %}

{% set tab_content_modules %}
    {% for module in course.modules %}
        <div class="card mb-3" id="module-{{ module.slug }}">
            <div class="card-header">
                <span class="card-title">{{ module.title }}</span>
            </div>
            <div class="card-body">
                <div class="list-group">
                    {% for lesson in module.lessons %}
                        <a href="{{ path('academy_lesson', {'course': course.slug, 'module': module.slug, 'lesson': lesson.slug}) }}" class="list-group-item list-group-item-action">
                            <i class="{{ lesson.icon }} me-2"></i>
                            {{ lesson.title }}
                            <span class="badge bg-primary-subtle float-end">
                                {% if lesson.time > 60 %}
                                    {{ (lesson.time / 60)|number_format(0) }} hours
                                {% endif %}
                                {{ (lesson.time % 60) }} minutes
                            </span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endset %}

{% set tab_content_videos %}
    {% if course.videos | length > 0 %}
        <div class="row">
            {% for lesson in course.videos %}
                <div class="col-md-6">
                    <div class="card mb-3" id="lesson-{{ lesson.uri | replace({'/': '--'}) }}">
                        <div class="card-header">
                            <span class="card-title">{{ lesson.title }}</span>
                        </div>
                        <div class="card-body">
                            <div class="ratio ratio-16x9">
                                <iframe src="{{ lesson.video }}" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info">No videos found for this course.</div>
    {% endif %}
{% endset %}

{% set tab_content_attachments %}
    {% if course.attachments | length > 0 %}
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Module</th>
                        <th scope="col">Lesson</th>
                        <th scope="col">File</th>
                        <th scope="col">Size</th>
                        <th scope="col">Download</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for attachment in course.attachments %}
                        <tr>
                            <td scope="row">{{ attachment.parent.module.title }}</td>
                            <td>{{ attachment.parent.title }}</td>
                            <td>
                                <i class="{{ attachment.icon }}"></i>
                                {{ attachment.name }}.{{ attachment.extension }}
                            </td>
                            <td>{{ attachment.size / 1000 }} KB</td>
                            <td>
                                <a href="{{ path('content_attachments', {'type': 'academy', 'uri': attachment.parent.uri}) }}?attachment={{ attachment.name }}.{{ attachment.extension }}" class="btn btn-primary" download="{{ attachment.parent.uri | replace({'/': '--' }) }}-{{ attachment.name }}.{{ attachment.extension }}" target="_blank">
                                    <i class="fa-solid fa-download fa-fw"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info">No videos found for this course.</div>
    {% endif %}
{% endset %}

{% block academy_content %}
    <div class="container my-4">

        <div class="container-fluid">
            <div class="row">
                <!-- Barra lateral -->
                <nav class="col-md-3 col-lg-2 d-md-block bg-light">
                    <div class="py-3">
                        <div class="small text-muted px-3 mb-2">Modules:</div>
                        <ul class="nav flex-column">
                            {% for module in course.modules %}
                                <li class="nav-item">
                                    <a class="nav-link"
                                        href="#module-{{ module.slug }}">
                                        {{ module.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="px-3 py-3 border-top">
                        <div class="small text-muted mb-2"># modules:</div>
                        <div class="d-flex flex-wrap gap-2 mb-3">
                            {{ course.modules | length }}
                        </div>
                        <div class="small text-muted mb-2"># lessons:</div>
                        <div class="d-flex flex-wrap gap-2 mb-3">
                            {{ course.lessons | length }}
                        </div>
                        <div class="small text-muted mb-2">Time to finish:</div>
                        <div class="d-flex flex-wrap gap-2 mb-3">
                            {% if course.time > 60 %}
                                {{ (course.time / 60)|number_format(0) }} hours
                            {% endif %}
                            {{ (course.time % 60) }} minutes
                        </div>
                    </div>
                </nav>

                <!-- Contenido principal -->
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                    <nav aria-label="breadcrumb" class="mb-4">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ path('academy') }}">Academy</a>
                            </li>
                            {% for ancestor in course.ancestors %}
                                <li class="breadcrumb-item">
                                    <a href="{{ path('academy_show', {'uri': ancestor.uri}) }}">{{ ancestor.title }}</a>
                                </li>
                            {% endfor %}
                            <li class="breadcrumb-item active" aria-current="page">
                                {{ course.title }}
                            </li>
                        </ol>
                    </nav>

                    {% if course.data %}
                        {{ course.data | markdown }}
                    {% endif %}

                    <twig:block-tabs
                        :tabs="[
                            {
                                'id': 'modules',
                                'title': 'Modules',
                                'icon': 'fa-solid fa-list',
                                'content': tab_content_modules
                            },
                            {
                                'id': 'videos',
                                'title': 'Videos',
                                'icon': 'fa-solid fa-video',
                                'content': tab_content_videos
                            },
                            {
                                'id': 'attachments',
                                'title': 'Attachments',
                                'icon': 'fa-solid fa-file',
                                'content': tab_content_attachments
                            }
                        ]"
                    />

                    <hr class="mb-5">
                    <div class="row text-muted small">
                        <div class="col-md-6">
                            Última actualización: {{ course.modified | date('d/m/Y') }}
                        </div>
                        <div class="col-md-6 text-end">
                            {{ course.tags | map(tag => '#' ~ tag.slug) | join(', ') }}
                        </div>
                    </div>

                </main>
            </div>
        </div>

    </div>
{% endblock %}
