{% extends 'layouts/academy.html.twig' %}
{% import 'academy/_nav_item.html.twig' as nav %}

{% block title %}{{ course.title }}{% endblock %}

{% block academy_header %}
    <section id="hero">
        <twig:block-hero
            size="small"
            background="{{ course.image }}"
            title="{{ course.title }}"
            subtitle="{{ course.summary }}"
            align="left"
        />
    </section>
{% endblock %}

{% block academy_content %}
    <div class="container my-4">

        <div class="container-fluid">
            <div class="row">
                <!-- Barra lateral -->
                <nav class="col-md-3 col-lg-2 d-md-block bg-light">
                    <div class="py-3">
                        {{ nav.render_items(course.modules, 0) }}
                    </div>
                </nav>

                <!-- Contenido principal -->
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                    <nav aria-label="breadcrumb" class="mb-4">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ path('academy') }}">
                                    <i class="fa-solid fa-graduation-cap fa-fw"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{{ path('academy_course', {'course': course.slug}) }}">{{ course.title }}</a>
                            </li>
                            <li class="breadcrumb-item">
                                {{ module.title }}
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{ lesson.title }}
                            </li>
                        </ol>
                    </nav>

                    <div class="card shadow p-4">
                        {% if not module.data %}
                            {{ ('# ' ~ module.title) | markdown }}
                        {% endif %}

                        {{ module.data | markdown }}

                        <div class="card mt-4 mb-3">
                            <div class="list-group">
                                {% for lesson in module.lessons %}
                                    <a href="{{ path('academy_lesson', {'course': course.slug, 'module': module.slug, 'lesson': lesson.slug}) }}" class="list-group-item list-group-item-action">
                                        <i class="{{ lesson.icon }} me-2"></i>
                                        {{ lesson.title }}
                                        <span class="badge bg-primary-subtle float-end">
                                            {% if lesson.time > 60 %}
                                                {{ (lesson.time / 60)|number_format(0) }} hours
                                            {% endif %}
                                            {{ (lesson.time % 60) }} minutes
                                        </span>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <hr class="mt-5 mb-1">
                    <div class="row text-muted small mb-5">
                        <div class="col-md-6">
                            Last updated on {{ module.modified | date('d/m/Y') }}
                        </div>
                        <div class="col-md-6 text-end">
                            {{ course.tags | map(tag => '#' ~ tag.slug) | join(', ') }}
                        </div>
                    </div>

                    {% if previous or next %}
                        <div class="row my-5">
                            <div class="col-md-6">
                                {% if previous %}
                                    <a href="{{ path('academy_module', {'course': previous.course.slug, 'module': previous.slug}) }}" class="btn btn-outline-secondary w-100 text-start d-flex flex-column justify-content-center p-2">
                                        <div class="small">
                                            <i class="fa-solid fa-chevron-left fa-fw"></i>
                                            Previous
                                        </div>
                                        <div class="text-truncate">{{ previous.title }}</div>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-md-6 text-end">
                                {% if next %}
                                    <a href="{{ path('academy_module', {'course': next.course.slug, 'module': next.slug}) }}" class="btn btn-outline-secondary w-100 text-end d-flex flex-column justify-content-center p-2">
                                        <div class="small">
                                            Next
                                            <i class="fa-solid fa-chevron-right fa-fw"></i>
                                        </div>
                                        <div class="text-truncate">{{ next.title }}</div>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </main>
            </div>
        </div>

    </div>
{% endblock %}
