{% extends 'layouts/docs.html.twig' %}

{% block title %}{{ doc.title }}{% endblock %}

{% block docs_content %}
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('docs') }}">
                    <i class="fa-solid fa-book fa-fw"></i>
                </a>
            </li>
            {% for ancestor in doc.ancestors %}
                <li class="breadcrumb-item">
                    <a href="{{ path('docs_doc', {'uri': ancestor.uri}) }}">{{ ancestor.title }}</a>
                </li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">
                {{ doc.title }}
            </li>
        </ol>
    </nav>

    {% if doc.data %}
        {% if doc.metadata.show_toc %}
            <div class="row" id="toc-content">
                <div class="col-md-9">
                    <div data-bs-spy="scroll" data-bs-target="#toc-navbar">
                        {{ doc.data | markdown }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sticky-top ps-3 py-4 border-start small">
                        <div class="fw-bold mb-3">On this page</div>
                        <div id="toc-navbar" class="d-flex flex-column gap-2"></div>
                    </div>
                </div>
            </div>
        {% else %}
            {{ doc.data | markdown }}
        {% endif %}
    {% endif %}

    {% if doc.metadata.iframe %}
        <iframe src="{{ doc.metadata.iframe }}" width="100%" height="800px" allow="autoplay"></iframe>
    {% endif %}

    {% if doc.video %}
        <div class="plyr__video-embed ratio ratio-16x9" id="player">
            <iframe
                src="{{ doc.video }}"
                allowfullscreen
                allowtransparency
                allow="autoplay"
            ></iframe>
        </div>
    {% endif %}

    {% if doc.metadata.openapi %}
        <div id="swagger-ui"></div>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@latest/swagger-ui.css">
        <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@latest/swagger-ui-bundle.js"></script>
        <script>
            SwaggerUIBundle({
                url: "{{ doc.metadata.openapi }}",
                dom_id: '#swagger-ui',
                defaultModelsExpandDepth: -1
            });
        </script>
    {% endif %}

    {% if doc.metadata.show_children %}
        <div class="row my-4">
            {% for child in doc.children %}
                <div class="col-md-4">
                    <a href="{{ path('docs_doc', {'uri': child.uri}) }}" class="btn btn-outline-primary w-100 text-start p-4 mb-4">
                        <div class="fw-bold mb-2">
                            <i class="fa-solid fa-file-lines fa-fw"></i>
                            {{ child.title }}
                        </div>
                        <div class="small">
                            {{ child.summary }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <hr class="mt-5 mb-1">
    <div class="row text-muted small mb-5">
        <div class="col-md-6">
            Last updated on {{ doc.modified | date('d/m/Y') }}
        </div>
        <div class="col-md-6 text-end">
            {{ doc.tags | map(tag => '#' ~ tag.slug) | join(', ') }}
        </div>
    </div>

    {% if previous or next %}
        <div class="row my-5">
            <div class="col-md-6">
                {% if previous %}
                    <a href="{{ path('docs_doc', {'uri': previous.uri}) }}" class="btn btn-outline-secondary w-100 text-start d-flex flex-column justify-content-center p-2">
                        <div class="small">
                            <i class="fa-solid fa-chevron-left fa-fw"></i>
                            Previous
                        </div>
                        {{ previous.title }}
                    </a>
                {% endif %}
            </div>
            <div class="col-md-6 text-end">
                {% if next %}
                    <a href="{{ path('docs_doc', {'uri': next.uri}) }}" class="btn btn-outline-secondary w-100 text-end d-flex flex-column justify-content-center p-2">
                        <div class="small">
                            Next
                            <i class="fa-solid fa-chevron-right fa-fw"></i>
                        </div>
                        {{ next.title }}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock %}
