{% extends 'layouts/faq.html.twig' %}

{% block title %}{{ faq.title }}{% endblock %}

{% block faq_content %}
    <nav aria-label="breadcrumb" class="mb-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('faq') }}">
                    <i class="fa-solid fa-question-circle fa-fw"></i>
                </a>
            </li>
            {% for ancestor in faq.ancestors %}
                <li class="breadcrumb-item">
                    <a href="{{ path('faq_question', {'question': ancestor.uri}) }}">{{ ancestor.title }}</a>
                </li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">
                {{ faq.title }}
            </li>
        </ol>
    </nav>

    {% if faq.deprecated %}
        <div class="alert alert-warning">
            <i class="fa-solid fa-triangle-exclamation fa-fw"></i>
            This FAQ is deprecated since {{ faq.deprecated | date('d/m/Y') }}. It's not recommended to use this content anymore.
        </div>
    {% endif %}

    {% if faq.data %}
        <div class="derafu-content derafu-content-faq">
            {% if not faq.hide_table_of_contents %}
                <div class="row">
                    <div class="col-md-9">
                        <div data-bs-spy="scroll" data-bs-target="#toc-navbar" id="toc-content">
                            {{ faq.data | markdown }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="sticky-top ps-3 py-4 border-start small">
                            <div class="fw-bold mb-3">On this page</div>
                            <div id="toc-navbar" class="d-flex flex-column gap-2" data-toc-min-heading-level="{{ faq.toc_min_heading_level }}" data-toc-max-heading-level="{{ faq.toc_max_heading_level }}"></div>
                        </div>
                    </div>
                </div>
            {% else %}
                {{ faq.data | markdown }}
            {% endif %}
        </div>
    {% endif %}

    {% if faq.video %}
        <div class="plyr__video-embed ratio ratio-16x9" id="player">
            <iframe
                src="{{ faq.video }}"
                allowfullscreen
                allowtransparency
                allow="autoplay"
            ></iframe>
        </div>
    {% endif %}

    {% if faq.metadata.show_children %}
        <div class="row my-4">
            {% for child in faq.children %}
                <div class="col-md-6">
                    <a href="{{ path('faq_question', {'question': child.uri}) }}" class="btn btn-outline-primary w-100 text-start p-4 mb-4">
                        <div class="fw-bold">
                            <i class="fa-regular fa-question-circle fa-fw"></i>
                            {{ child.title }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <hr class="mt-5 mb-1">
    <div class="row text-muted small mb-5">
        <div class="col-md-6 small">
            {{ faq.tags | map(tag => '#' ~ tag.slug) | join(', ') }}
        </div>
        <div class="col-md-6 small fst-italic text-end">
            {% if plugin.options.showLastUpdateTime %}
                Last updated on {{ faq.last_update | date('d/m/Y') }}
            {% endif %}
            {% if plugin.options.showLastUpdateAuthor %}
                by {{ faq.authors | join(', ') }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block custom_head %}
    {{ parent() }}
    {{ faq.htmlTags().headTagsToHtml() | raw }}
{% endblock %}

{% block custom_body_top %}
    {{ parent() }}
    {{ faq.htmlTags().preBodyTagsToHtml() | raw }}
{% endblock %}

{% block custom_body_bottom %}
    {{ parent() }}
    {{ faq.htmlTags().postBodyTagsToHtml() | raw }}
{% endblock %}
